
 .btn-log {
   background-color: #ddae71;
   border: #ddae71;
   font-weight: 500;
   margin-left: 10px;
}





// google translate css :-
// .goog-logo-link {
//   display:none !important;
// } 
  
// .goog-te-gadget{
//   color: transparent !important;
// }

