

<div class="container-fluid">
    <div class="row bg-dark">
        <div class="col-lg-6">
            <img src="assets/logo-light.svg" alt="" width="100%">
        </div>
        <div class="col-lg-6">
            <h5>Subscribe US!</h5>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="" aria-label="Recipient's username" aria-describedby="basic-addon2">
                <span class="input-group-text" id="basic-addon2">Subscribe</span>
              </div>

              <h4>Social Media </h4>
              <i class="fa fa-instagram" aria-hidden="true"></i>
              <i class="fa fa-facebook" aria-hidden="true"></i>
              <i class="fa fa-youtube" aria-hidden="true"></i>
              <i class="fa fa-twitter" aria-hidden="true"></i>
        </div>

    </div>
</div>
