
img {
    width: 100px;
    margin-left: 200px;
    margin-top: 5em;
}

.bg-dark {
    margin-top: 50px;
    height: 300px;
    margin: 50px;
}

h5 {
    color: aliceblue;
    margin-top: 4em;
}

.input-group {
    width: 25em;
}
.input-group span{
    background-color:#ddae71;
    border: #ddae71;

}

h4 {
    color: aliceblue;
}

i {
    color:rgb(181, 138, 29);
    padding: 12px;
    font-size: 25px;
}