<app-header></app-header>

<div class="container-fluid">
<div class="head">
<h1>About Us</h1>
<h4>Some informations about our restaurant</h4>
</div>
<div class="row content">
    <div class="col-lg-5">
        <img src="assets/bg-chef.jpg" alt="">
    </div>
    <div class="col-lg-5 cont">
        <h1>The best food in London!</h1>
        <small>Donec a eros metus. Vivamus volutpat leo dictum risus ullamcorper condimentum. Cras sollicitudin varius condimentum. Praesent a dolor sem....</small>


     <p>Nam eleifend elementum sapien et bibendum. Nunc ac diam efficitur, ultrices lorem quis, consectetur odio. Nullam vulputate, eros quis accumsan cursus, elit lectus bibendum nulla, sed dapibus ligula tellus at purus. Fusce id eros id mi cursus semper. Quisque efficitur bibendum nunc a consectetur. Maecenas vitae quam iaculis, scelerisque purus nec, varius purus. Nullam eget varius elit. Donec eget facilisis nunc, non rutrum lorem.</p>
    <h6>Mark Johnson, Chef</h6>

    <h4>What people say about Us?</h4>

    <button type="button" class="btn">CHECK OUR REVIEWS</button>
    </div>

    <div class="col-lg-2"></div>

</div>






</div>

<app-footer></app-footer>