

// .bg {
//     background-color: rgb(207, 205, 205);
//     margin:30px;
//     height: 160px;
//     text-align: center;
// }

// .bg p {
//     font-size: 25px;
// }

.card-cent img  {
    height: 300px;
}

.card{
    margin-top: 50px;


}

.card-cent .card{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.re-bt{
    background-color: palevioletred;
    margin-left: 20px;
}

.data img {
    width: 60%;
    padding-top: 30px;
}

.data p {
    color: #ddae71;
    font-size: 20px;
    font-weight: 500;
}

.srch {
    margin-top: 20px;
    text-align: center;
}

.srch input{
    width: 25em;
    line-height: 40px;

}