

<div class="container-fluid">
    <div class="row ">
        <div class="col-lg-12 bg">

            <form action="action_page.php">
                
                  <h1>Login Users</h1>
                  <p>Please enter your login and password !</p>
                  
              
                  <div class="mb-3 mt-3">
                  <!-- <label for="email"><b>Email</b></label> -->
                  <input type="text" [(ngModel)]="email" placeholder="Email or phone" name="email" id="email" >
                </div>

                <div class="mb-3">
                  <!-- <label for="psw"><b>Password</b></label> -->
                  <input type="password" [(ngModel)]="password" placeholder="Password" name="psw" id="psw" >
                </div>
                
              
                  <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
                  <button type="submit" class="logbtn" (click)="login()" >LOG IN </button>
                
              
                <!-- <div class="container signin">
                  <p>Already have an account? <a href="#">Sign in</a>.</p>
                </div> -->
              </form>
              

        </div>
    </div>
</div>
