
<app-header></app-header>

<div class="first-image">
    <div class="fi-text">
        <img src="assets/logo-light.svg" alt="">
      <h3 >Restaurant with Online Ordering System Template</h3>
      <!-- <p>And I'm a Photographer</p> -->
      <button type="button" routerLink="/about">Pick a Concept</button>
    </div>
  </div>


  <div class="heroes-image">
    <div class="img-text">
      <h1 >Would you like to visit Us?</h1>
      <p>Book a table even right now or make an online order!</p>
      <button  class=" btn-order" routerLink="/menu">ORDER ONLINE</button>
      <button class="btn-table" routerLink="/contact" >BOOK A TABLE</button>

    </div>
  </div>


<app-footer></app-footer>

